<h1>Recuperação de senha</h1>
  <p>
    Para resetar sua senha utilize o token: <strong><%= @user.reset_password_token %></strong>.<br>
  </p>
<p>Caso você não tenha solicitado a recuperação de senha desconsidere este e-mail.</p>
