<h1>Bem vindo a Plataforma Hope, <%= @user.name %></h1>
  <p>
    Você criou uma conta com sucesso na plataforma Hope,
    seu e-mail de acesso é: <strong><%= @user.email %></strong>.<br>
  </p>
<p>Obrigado por fazer parte da nossa comunidade!</p>
